SUPABASE_URL = "https://vhxwujwymkxxyiognual.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZoeHd1and5bWt4eHlpb2dudWFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTU2NzYwNDAsImV4cCI6MjAxMTI1MjA0MH0.1j8y4N1jqfw5XQ9tUXYLnqXQKGR02VZYwDATmrLAW0"
STRIPE_PUBLISHABLE_KEY = "pk_live_51RWvqSrYVex3wSWAPgQf553nfBW8JwimJwGTaoTLTYcjqG5PQwzw7nxIoyXiQmf1ivV52ZlM7xQaK7VoIAKCNRw001Mgwk3iE"
